<launch>
	<arg name = "recordRosbag" default = "false"/>
	<include file ="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
	 <arg 
	 	name = "world_file"
	 	value = "$(find obstacle_avoidance_turtlebot)/world/demo.world"
	 />
	</include>
	
	<node
		pkg = "obstacle_avoidance_turtlebot"
		type = "obstacle_avoidance_turtlebot"
		name = "obstacle_avoidance_turtlebot"
		output = "screen"
		launch-prefix="xterm -e"
	/>

	<node 
		pkg= "rosbag" 
		name= "record_bag" 
		type= "record"	
		args = "-x /camera/(.*) --duration=15 -a -O $(find obstacle_avoidance_turtlebot)/results/rec.bag"
		if = "$(arg recordRosbag)"
	/>

</launch>
